@tailwind base;
@tailwind components;
@tailwind utilities;


.skill-item {
    @apply mb-2 text-lg font-medium transition duration-300 ease-in-out;
  }
  
  .skill-item:hover {
    @apply text-blue-400;
  }
  
  section {
    @apply py-12;
  }

  /* Home.css */
@keyframes textAnimation {
  0% { transform: translateY(-50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-text {
  animation: textAnimation 2s ease-out forwards;
}


.text-9xl {
  font-size: 9rem;
}

@media (max-width: 768px) {
  .text-9xl {
    font-size: 6rem;
  }
}

/* App.css */

/* Neon Shadow Effect */
.shadow-neon {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5), 0 0 10px rgba(0, 255, 0, 0.5), 0 0 15px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.5);
}

.shadow-neon::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.6), 0 0 25px rgba(0, 255, 0, 0.6);
    z-index: -1;
    filter: blur(10px);
    opacity: 0.7;
}

/* Background Image */
/* .bg-[url('../assets/background.jpg')] {
    background-size: cover;
    background-position: center;
} */

  